apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: sonarr
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`tv.reynn.dev`)
      kind: Rule
      services:
        - name: sonarr
          port: 8989
      middlewares:
        - name: redirect-to-https
  tls:
    secretName: reynn-dev-ssl
