apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: jellyfin
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`media.reynn.dev`)
      kind: Rule
      services:
        - name: jellyfin
          port: 8096
          passHostHeader: true
      middlewares:
        - name: jellyfin-headers
  tls:
    secretName: reynn-dev-ssl
    # certResolver: acme
    # domains:
    # - main: media.reynn.dev
    #   sans:
    #   - jellyfin.reynn.dev
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: jellyfin-headers
spec:
  headers:
    customResponseHeaders:
      X-Robots-Tag: noindex,nofollow,nosnippet,noarchive,notranslate,noimageindex
    customFrameOptionsValue: "allow-from https://reynn.dev"
    sslRedirect: true
    sslHost: media.reynn.net
    sslForceHost: true
    stsSeconds: 315360000
    stsIncludeSubdomains: true
    stsPreload: true
    forceSTSHeader: true
    frameDeny: true
    contentTypeNosniff: true
    browserXssFilter: true
