.build/
.DS_Store
*.scr
**/.nvimlog
**/.secrets
**/target/
**/Cargo.lock
**/*.properties
**/tls.*
\.ansible
\.git
\.idea/
\.vscode/
configs/fish/fish_variables
images/
secrets
tls-cert.yaml
bases/**/charts/
