namespace: utils

commonAnnotations:
  k0s.reynn.net/base: traefik
  k0s.reynn.net/host: mimikyu

resources:
  - redirect.to.secure.yaml

helmCharts:
  - name: traefik
    repo: https://helm.traefik.io/traefik
    includeCRDs: true
    version: 37.1.0
    releaseName: traefik
    valuesFile: helm.values.yaml
