apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: radarr
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`movies.reynn.dev`)
      kind: Rule
      services:
        - name: radarr
          port: 7878
      middlewares:
        - name: redirect-to-https
  tls:
    secretName: reynn-dev-ssl
    # secretName: reynn-net-cert
    # options:
    #   name: recommended-tls-opts
    #   namespace: utils
